@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body
{
    font-family: 'Poppins', sans-serif !important;
}
a
{
    text-decoration:none ;
    color:inherit !important;
}
.bg-1
{
    background-color: #19292D;
}
.sidebar
{
    height:100vh;
    padding: 0px 50px !important;
    position: fixed !important;
}
.nav-item
{
    margin:0px 10px
}
.sidebar-text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:calc(100vh - 100px);
    max-width: 90%;
}
.sidebar-text h1
{
    font-size:7vw;
    font-weight:500;

}
.sidebar-text p
{
    font-weight: 300;
    letter-spacing: 1px;
    font-size:0.8vw;
    opacity: 0.5;
    line-height: 1.7vw;
}
.sidebar-social-media
{
    opacity: 0.5;
    height: 40px;
    max-height: 40px;
    display: flex;
    align-items: center;
}
.navbar
{
    height: 60px;
    max-height: 60px;
    padding-left: 0px !important;
    margin-left: 0px !important;
}
.nav-item:first-child
{
   margin-left: 0px !important;
}
.social-media-list
{
    padding-left: 0px;
}
.social-media-list li 
{
    font-size: 1.5vw;
    float: left;
    margin:0px 10px;
    list-style: none;
}
.large-container
{
    height:60vh
}
.small-container
{
    height:40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-lg-6-p
{
    font-size: 0.9vw;
    opacity:0.4;
    font-weight: 600;
    margin:15px 0px !important;
    line-height: 1.5vw;
}
.col-lg-6-h
{
    font-size: 2vw;
    opacity:0.9;
    font-weight: 600;
}
.col-lg-6-h3
{
    font-size: 1vw;
    opacity:0.8;
    font-weight: 600;
}
.desc
{
    max-width: 70%;
}
.desc-h
{
    font-size:1.5vw;
    font-weight: 500;
}
.desc-h3
{
    font-size:1vw;
    font-weight: 500;
}
.desc-p
{
    opacity: 0.8;
    font-size: 0.9vw;
    line-height: 1.6vw;
}
.read-more-btn
{
    font-weight: 800 !important;
    opacity: 0.6;
    padding-left: 0px !important;
}
.read-more-btn:after
{
    content:'';
    display:block;
    border-top:1px solid #000;
}
.fixed-body
{
    max-height: 100vh;
    overflow: hidden;
}
.gallery-item-image
{
    height: 40vh;
    width: 40vh;
}
.gallery-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery-item
{
    margin: 30px 0px;
    text-align: center;
}
.gallery-item h3
{
    font-size: 1.2vw;
    font-weight: 600;
}
.main
{
    margin-left:  41.666667%;
}
.gallery-item-image
{
    background-size: cover !important;
    background-position:center !important ;
    box-shadow: 10px 10px 10px #ddd;
}
.gallery-container a:first-child
{
    margin-top: 30vh;
}
.project-image-container
{
    padding:20px;
}
#photos {
    /* Prevent vertical gaps */
    line-height: 0;
     
    -webkit-column-count: 3;
    -webkit-column-gap:   20px;
    -moz-column-count:    3;
    -moz-column-gap:      20px;
    column-count:         3;
    column-gap:           20px;  
  }
  
  #photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    margin:10px 0px;
  }
  @media (max-width: 1200px) {
    #photos {
    -moz-column-count:    4;
    -webkit-column-count: 4;
    column-count:         4;
    }
  }
  @media (max-width: 1000px) {
    #photos {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    }
  }
  @media (max-width: 800px) {
    #photos {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    }
  }
  @media (max-width: 400px) {
    #photos {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
    }
  }
  .video-items
  {
      margin:20px 0px
  }
  .contact-info li
  {
      list-style:none;
      font-size: 1vw;
      font-weight: 600;
      margin: 20px 0px;
  }
  .contact-info
  {
    margin:auto;
    padding-left: 0px;
    opacity: 0.8;
  }
  .contact
  {
      display: flex;
  }
  #gmap_canvas
  {
      height:100vh;
      width: 100%;
      background-color: #ddd;
  }
  .or-span {
    display: flex;
    flex-direction: row;
  }
  .or-span:before, .or-span:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #000;
    margin: auto;
  }
  .or-span:before {
    margin-right: 10px
  }
  .or-span:after {
    margin-left: 10px
  }
  .about-img
  {
    min-height:500px
  }
  @media all and (max-width: 480px) { 
    .sidebar
    {
        position: relative !important;
        height:auto;
        padding: 0px 20px !important;
    }
    .sidebar-text
    {
        height: auto;
    }
    .main
    {
        margin-left: 0px;
    }
    .large-container
    {
        height:40vh
    }
    .small-container
    {
        height:40vh
    }
    .desc-h
    {
        font-size:20px
    }
    .desc-p
    {
        font-size:10px;
        line-height: 18px;
        opacity: 0.5 !important;
    }
    .desc
    {
        max-width:100%;
        padding: 15px;
    }
    .sidebar-text h1
    {
        font-size: 55px;
        text-align: center;
    }
    .sidebar-text p
    {
        font-size: 10px;
        line-height: 20px;
    }
    .sidebar-text
    {
        max-width: 100%;
    }
    .fixed-body
    {
        height:auto;
        overflow: scroll;
    }
    .navbar-collapse 
    {
        background-color: #19292D;
        z-index: 9999;
    }
    .about-img
    {
        min-height:200px
    }
    .gallery-container a:first-child
    {
        margin-top: 10px;
    }
    .social-media-list
    {
        margin: 0px auto;
    }
    .social-media-list li 
    {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 20px;
        
    }
    
    #col-lg-6
    {
        width: 100%;
        height:300px;
        background-color: #ddd;
    }
    .contact-info li
    {
        font-size: 16px;
    }
    .contact-info
    {
        padding-bottom: 30px;
    }
    .gallery-item h3
    {
        font-size: 20px;
    }
}
@media all and (device-width: 768px) {
    .desc-h
    {
        font-size: 30px;
    }
    .desc-p
    {
        padding: 10px 0px;
        font-size: 14px;
        line-height: 25px;
    }
    .desc
    {
        max-width: 80%;
        padding: 30px 0px;
    }
    .sidebar-text
    {
        margin:0px auto
    }
    .sidebar
    {
        padding: 0px 20px !important;
    }
    .sidebar-text h1
    {
        font-size: 60px;
    }
    .sidebar-text p
    {
        font-size: 14px;
        line-height: 30px;
        padding: 20px 0px;
    }
    .about-img
    {
        min-height :auto
    }
    .desc-h3
    {
        font-size: 20px;
    }
    .social-media-list li
    {
        font-size: 20px;
    }
    .contact-info
    {
        width: 80%;
        padding-bottom: 20px;
    }
    .contact-info li
    {
        font-size: 18px;
    }
    .gallery-item h3
    {
        font-size: 30px;
    }
}
@media all and (min-width: 1600px) {
    .about-img
    {
        height: 700px;
    }
    .gallery-item h3
    {
        font-size: 80px;
    }
}
@media all and (min-width:2400px) { 
    .about-img
    {
        height: 2000px;
    }

    .nav-item
    {
        font-size: 60px;
        margin: 0px 40px;
    }
    .social-media-list li
    {
        margin: 40px;
    }
}